.questionCard {
    border: 1px;
    border-radius: 10px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    min-width: 20vw;
  }

  .questionButton{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
  }

  .questionText{
    padding: 0px;
  }

  .trollAndDeleteButton{
    background-color: transparent;
    border: none;
    font-size: 1rem;
  }
  
  .fa-ban:hover {
    color: #fcbe03;
    font-size: larger; 
  }

  .fa-ban:visited , .trollAndDeleteButton:hover {
    font-size: larger;
  }
  
  .popover__wrapper {
    position: relative;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -120px;
    top: 60px;
    transform: translate(0, 10px);
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    border-radius: 10px;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(20% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    color: black;
    text-align: center;
  }

/* Hecho y rechazar CSS */
.button-3 {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3hecho {
  background-color: #2ea44f;
}

.button-3rechazar{
  background-color: #EA4C89;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3hecho:hover {
  background-color: #2c974b;
}

.button-3hecho:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3hecho:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3hecho:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.button-3rechazar:hover,
.button-3rechazar:focus {
  background-color: #F082AC;
}

.button-3deshacer{
  background-color: rgb(26,106,137);
}

.button-3deshacer:hover,
.button-3deshacer:focus {
  background-color: rgb(17,66,85);
}